<%= render "home/navbar" %>
<div class="container d-flex ">

    <div class="card mx-3 my-2 d-flex" style="width: 50rem; heigh: 50rem;">
        <% if @movie.image.attached? %>
        <%= image_tag @movie.image, style:"width: 200px;height: 180px; display: block",class: "card-img-top mx-2" %>
        <% end %>
        <div class="card-body d-flex">
            <div>
                 <h5 class="card-title" ><%= @movie.title  %></h5>
                <p class="card-text"> <%= @movie.duration %></p>
                <%= link_to "Edit details", edit_movie_path(@movie), class: "btn btn-primary" %>
                <%= link_to "Add  to cart", root_path(), class: "btn btn-primary" %>
                <%= button_to "Delete Movie",movie_path(), method: :delete , class: "btn btn-danger" %>
            </div>
             <div>
                 <% @movie.actors.each do |actor|%>
                    <% if actor.image.attached? %>
                        <%= image_tag actor.image, style:"width: 80px;height: 80px; display: block",class: "card-img-top mx-2" %>
                    <% end %>
                    <p><%= link_to  actor.name , actor_path(actor) %> </p>

                <% end %>
                 <p><%= link_to  "add Actor" , new_movie_movie_actor_path(@movie) %></p>
            </div>
        </div>
    </div>

</div>
